/* swiper */

html, body {
    position: relative;
    height: 100%;
}

.mySwiper2 {
    display: none;
}

.mySwiper {
    max-width: 740px;
    height: calc(100vh - 56px);
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
}

header {
    background: #000;
    position: relative;
    height: 56px;
}

header>a {
    position: absolute;
    top: 16px;
    left: 24px;
}

header>.pcNav {
    height: 56px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
}

header>.pcNav>a {
    color: #fff;
    font-weight: 500;
    margin-right: 40px;
}

header>.pcNav>a:last-child {
    margin-right: 0;
}

header>.pcNav>a:hover {
    color: rgba(255, 255, 255, 0.4);
}

header>.menuBtn {
    display: none;
    position: absolute;
    top: 16px;
    right: 24px;
    cursor: pointer;
}

.swiperInfoBox2 {
    display: none;
}

.topBanner {
    background: #F7F8FA;
    text-align: center;
    height: 48px;
    padding-top: 4px;
    position: relative;
}

.topBanner>.close {
    position: absolute;
    right: 11px;
    cursor: pointer;
    top: 8px;
}

.topBanner>p {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.topBanner>a {
    font-size: 11px;
    line-height: 16px;
    color: #747474;
    text-decoration-line: underline;
}

.wrap .swiperInfoBox {
    position: absolute;
    background: #fff;
    z-index: 99;
    bottom: 80px;
    width: 368px;
    right: 0;
    text-align: center;
    padding: 28px 0;
}

.wrap .swiperInfoBox>div {
    display: flex;
    width: 125px;
    margin: auto;
    align-items: center;
    margin-bottom: 8px;
}

.wrap .swiperInfoBox>div>.swiperPagination {
    font-size: 14px;
    margin: auto;
}

.wrap .swiperInfoBox>div>.swiperNext {
    cursor: pointer;
}

.wrap .swiperInfoBox>div>.swiperPrev {
    cursor: pointer;
}

.wrap .swiperInfoBox>p {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 36px;
    margin-bottom: 4px;
}

.wrap .swiperInfoBox>span {
    display: block;
    line-height: 24px;
    margin-bottom: 16px;
    font-size: 14px;
}

.wrap .swiperInfoBox>a {
    background: #000;
    padding: 8px 27px;
    color: #fff;
    display: block;
    width: fit-content;
    border-radius: 20px;
    margin: auto;
    line-height: 24px;
}

.wrap .swiperInfoBox>a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    background: #1d1d1d;
    padding: 32px 0 56px;
    box-sizing: border-box;
    width: 100%;
}

footer>div {
    width: 378px;
    margin: auto;
}

footer>div>div {
    display: flex;
}

footer>div>div>div:first-child {
    margin-right: 141px;
}

footer>div>div>div>p {
    color: #fff;
    font-size: 11px;
    line-height: 24px;
}

footer>div>div>div>a {
    color: #747474;
    font-size: 11px;
    line-height: 24px;
    display: block;
}

footer>div>div>div>a:hover{
    text-decoration: underline;
}

footer>div>p {
    font-size: 11px;
    font-weight: 600;
    line-height: 24px;
    color: #747474;
    margin-top: 24px;
}

footer>div>span {
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    color: #747474;
}

footer>div>a {
    background: url(../img/ic-insta.svg) no-repeat center center;
    width: 24px;
    height: 24px;
    display: block;
    margin-top: 16px;
}

footer>div>a:hover {
    background: url(../img/ic-insta-hover.svg) no-repeat center center;
}

.mobileFooter {
    display: none;
}

.subHad {
    background-color: transparent;
    position: absolute;
    width: 100%;
}

.mobileBox {
    display: none;
}

.introMain {
    height: 100vh;
    background: url(../img/bg-intro01.jpg) no-repeat center center / cover;
    animation-duration: 11s;
    animation-name: back;
    animation-iteration-count: infinite;
}

.mySwiper3 .swiper-slide {
    width: fit-content;
}

.mySwiper3 .swiper-slide img {
    width: 276px;
    height: 276px;
}

.mySwiper3 {
    margin-bottom: 120px !important;
}

@-webkit-keyframes back {
    0% {
        background: url(../img/bg-intro01.jpg) no-repeat center center / cover;
    }
    25% {
        background: url(../img/bg-intro02.jpg) no-repeat center center / cover;
    }
    50% {
        background: url(../img/bg-intro03.jpg) no-repeat center center / cover;
    }
    75% {
        background: url(../img/bg-intro04.jpg) no-repeat center center / cover;
    }
    100% {
        background: url(../img/bg-intro01.jpg) no-repeat center center / cover;
    }
}

.introMain p {
    font-family: "BebasNeue";
    color: #fff;
    font-size: 128px;
    line-height: 148px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 6px;
    width: 100%;
}

.introTxt {
    width: 786px;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    padding: 120px 102px;
    background-color: #1d1d1d;
    margin: auto;
}

.scroll {
    transition: 1s all ease;
}

.introContents {
    width: 582px;
    margin: 120px auto;
    opacity: 0;
    display: flex;
}

.introContents>div>span:first-child {
    font-family: "BebasNeue";
    color: #747474;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2px;
    margin-bottom: 8px;
    display: block;
}

.introContents>div>p {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 36px;
}

.introContents>div>span:last-child {
    font-size: 14px;
    line-height: 24px;
}

.introContents>img {
    width: 276px;
}

.instaTitle {
    font-size: 36px;
    line-height: 56px;
    letter-spacing: -1px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.instaUrl img {
    margin-right: 11px;
}

.instaArea {
    opacity: 0;
    width: 100%;
    overflow: hidden;
}

.instaUrl {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #747474;
    margin-bottom: 56px;
}

.title {
    max-width: 1190px;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: -1px;
    font-weight: 700;
    margin: 40px auto;
}

.detailTitle {
    max-width: 582px;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: -1px;
    font-weight: 700;
    margin: 40px auto 8px;
}

.detailBox>span:nth-child(2) {
    max-width: 582px;
    display: block;
    margin: 0 auto 40px;
    line-height: 24px;
    color: #747474;
}

.detailBox>img {
    max-width: 582px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

.detailBox>p:last-child {
    font-size: 14px;
    width: 582px;
    margin: auto;
    margin-bottom: 120px;
    line-height: 24px;
}

.noticeBox {
    display: flex;
    flex-wrap: wrap;
    max-width: 1190px;
    margin: 0 auto 120px;
}

.noticeBox>div {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 56px;
}

.noticeBox>div:hover {
    opacity: 0.8;
}

.noticeBox>div:nth-child(3n) {
    margin-right: 0%;
}

.noticeBox>div>a>img {
    width: 100%;
}

.noticeBox>div>a>p {
    font-size: 24px;
    line-height: 36px;
    margin-top: 24px;
    font-weight: 500;
}

.noticeBox>div>a>span {
    font-weight: 500;
    color: #747474;
    line-height: 24px;
}

.reservation{
    display: flex;
    width: 100%;
    max-width: 1194px;
    margin: 0 auto 120px;
}


.reservationBox{
    width: 306px;
}


.reservationBox>div{
    padding: 16px 32px;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 1px solid rgba(68, 68, 68, 0.1);
    background: url(../img/ic-arrow-forward.svg) no-repeat center right 30px ;
}

.reservationBox>div:hover{
    background: rgba(116, 116, 116, 0.05) url(../img/ic-arrow-forward.svg) no-repeat center right 30px ;
}

.reservationBox>div>p{
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}


.reservationBox>div>span{
    font-size: 14px;
    line-height: 24px;
    color: #747474;
}

.reservation-go {
    cursor: pointer;
}

#map{
    width: 888px;
    height: 408px;
    background-color: #ddd;
}

.clickBox{
    background: none !important;
    cursor:initial !important; 
    position: relative;
    display: none;
}

.clickBox>img{
    cursor: pointer;
    position: absolute;
    right: 30px;
    width: 24px;
}

.clickBox>div{
    display: flex;
}

.clickBox a{
    display: block;
    width: fit-content;
    margin-top: 24px;
    border: 1px solid;
    border-radius: 4px;
    padding: 10px 34px;
    font-size: 14px;
    line-height: 24px;
    margin-right: 16px;

}

.clickBox>div>a:last-child{
    display: none;
}

#hire-page .banner {
    width: 100%;
    height: 320px;
    background-image: url('/img/hire-main.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hire-page .title-container,
#hire-page .list-container {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    max-width: 582px;
}

#hire-page h2 {
    font-weight: 700;
}

#hire-page h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    margin-top: 36px;
}

#hire-page h2 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 23px;
}

#hire-page .list-container {
    margin-bottom: 120px;
    font-size: 14px;
    line-height: 24px;
}

#hire-page .list-container > div:not(:last-child)::after {
    content: '';
    display: block;
    border-bottom: 1px solid rgba(116, 116, 116, 0.1);
}

#hire-page .list-container > div > div {
    padding: 24px;
}

#hire-page .list-container > div > div:last-child {
    display: none;

    background-color: rgba(116, 116, 116, 0.05);
    font-size: 14px;
    line-height: 24px;
}

#hire-page .list-container > div > div:last-child > div > h3 {
    margin-bottom: 16px;
}

#hire-page .list-container > div > div:last-child > div > div {
    margin-bottom: 16px
}

#hire-page .list-container > div > div:last-child h4 {
    font-weight: 700;
}

#hire-page .list-container > div > div:first-child {
    cursor: pointer;
    padding: 24px;
    margin: auto;
}

#hire-page .list-container > div.open > div:last-child {
    display: block;
}

#hire-page .list-container > div.open > div:first-child {
    display: none;
}

#hire-page .list-container > div > div:first-child:hover {
    background-color: rgba(116, 116, 116, 0.05);
}

#hire-page .list-container > div > div:last-child li::before {
    content: '∙ ';
}

#hire-page .info-empty {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #747474;
    margin: 40px auto;
}

@media screen and (max-width: 1260px) {
    .title, .noticeBox {
        width: 100%;
        padding: 0 3%;
        box-sizing: border-box;
    }
}

/* Desktop */
@media screen and (max-width: 1025px) {
    .reservation{
        display: block;
    }

    #map,.reservationBox{
        width: 100%;
    }

    .reservationBox>div{
        width: 100%;
        padding:24px ;
    }
    .clickBox>div>a:last-child{
        display: block;
    }


}

/* Tablet */
@media screen and (max-width: 870px) {
    .detailTitle {
        max-width: 536px;
    }
    .detailBox>span:nth-child(2) {
        max-width: 536px;
    }
    .detailBox>img {
        max-width: 536px;
    }
    footer>div>div>div>p {
        line-height: 40px;
        font-size: 12px;
    }
    .detailBox>p:last-child {
        max-width: 536px;
    }
    footer>div>div>div>a {
        line-height: 40px;
        font-size: 12px;
    }
    footer>div>p {
        font-size: 12px;
    }
    footer>div>span {
        font-size: 12px;
    }
    header>.pcNav {
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        z-index: 9999;
        background: #000;
        width: 100%;
        left: 0;
        display: block;
        height: auto;
        overflow: hidden;
        display: none;
    }
    .mySwiper {
        display: none;
    }
    .mySwiper2 {
        display: block;
        width: 70%;
        margin: auto;
        height: 645px;
        overflow: hidden;
    }
    .swiperInfoBox2 {
        display: block;
    }
    header>.pcNav>a {
        margin-right: 0;
        display: block;
        line-height: 67px;
        text-align: center;
    }
    header>.menuBtn {
        display: block;
    }
    header>div.on {
        display: block;
    }
    .wrap .swiperInfoBox {
        position: initial;
        margin: 32px auto;
        width: 351px;
        padding: 0;
    }
    .wrap .swiperInfoBox>div {
        margin-bottom: 24px;
        display: block;
    }
    .swiper-pagination-bullet-active {
        background: #000 !important;
    }
    .wrap {
        min-height: calc(100vh - 56px);
    }
    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        margin-right: 8px;
    }
    .wrap .swiperInfoBox>p {
        font-size: 36px;
        margin-bottom: 8px;
        line-height: 56px;
    }
    .wrap .swiperInfoBox>span {
        margin-bottom: 24px;
    }
    .topBanner>.close {
        right: 27px;
    }
    .introMain p {
        font-size: 96px;
        line-height: 111px;
    }
    .introTxt {
        width: 100%;
    }
    .mySwiper3 .swiper-slide img {
        width: 260px;
        height: 260px;
    }
    .noticeBox>div {
        width: 49%;
    }
    .noticeBox>div:nth-child(3n) {
        margin-right: 2%;
    }
    .noticeBox>div:nth-child(2n) {
        margin-right: 0%;
    }

    #map {
        height: 396px;
    }

    #hire-page h2 {
        margin: auto;
        margin-top: 16px;
        margin-bottom: 0;
    }
    
    #hire-page .title-container {
        margin: auto;
        max-width: 100%;
        padding: 0 3%;
    }
    
    #hire-page .list-container {
        padding:0;
    }
    
    #hire-page .list-container > div > div:first-child {
        padding: 24px 0;
    }

    #hire-page .list-container > div:not(:last-child)::after {
        margin: 0 3%;
    }

    #hire-page .list-container {
        max-width: 100%;   
    }

    #hire-page .list-container > div.open > div:last-child,
    #hire-page .title-container, 
    #hire-page .list-container > div > div:first-child {
        padding: 24px 3%;
    }
}

/* Mobile */
@media screen and (max-width: 640px) {
    .reservationBox>div{
        padding: 24px 4%;
    }

    .clickBox a{
        width: 50%;
        text-align: center;
    }

    .clickBox>div>a:last-child{
        margin-right: 0;
    }
    .noticeBox>div {
        width: 100%;
        margin-right: 0%;
    }
    .detailTitle {
        width: 100%;
        padding: 0 4%;
        font-size: 24px;
        line-height: 36px;
        box-sizing: border-box;
    }
    .detailBox>p:last-child {
        width: 100%;
        padding: 0 4%;
        box-sizing: border-box;
    }
    .detailBox>span:nth-child(2) {
        width: 100%;
        padding: 0 4%;
        box-sizing: border-box;
    }
    .detailBox>img {
        max-width: 100%;
    }
    .noticeBox>div {
        margin-bottom: 40px;
    }
    .noticeBox>div>a>p {
        font-size: 21px;
        line-height: 32px;
    }
    .noticeBox>div>a>span {
        font-size: 14px;
        line-height: 24px;
    }
    .noticeBox>div:nth-child(3n) {
        margin-right: 0%;
    }
    .noticeBox>div:nth-child(2n) {
        margin-right: 0%;
    }
    .mySwiper2 {
        width: 92%;
        height: 328px;
    }
    .wrap .swiperInfoBox {
        width: auto;
    }
    .slide1 {
        background: url(../img/mobile01.jpg) no-repeat center center / cover !important;
    }
    .slide2 {
        background: url(../img/mobile02.jpg) no-repeat center center / cover !important;
    }
    .slide3 {
        background: url(../img/mobile03.jpg) no-repeat center center / cover !important;
    }
    .slide4 {
        background: url(../img/mobile04.jpg) no-repeat center center / cover !important;
    }
    .slide5 {
        background: url(../img/mobile05.jpg) no-repeat center center / cover !important;
    }
    footer>div {
        width: auto;
    }
    .wrap {
        min-height: 670px;
    }
    .wrap .swiperInfoBox>p {
        font-size: 24px;
        margin-bottom: 4px;
        line-height: 36px;
    }
    .wrap .swiperInfoBox>span {
        margin-bottom: 16px;
    }
    .topBanner>.close {
        right: 16px;
    }
    footer {
        padding: 32px 4%;
        box-sizing: border-box;
    }
    footer>div>div {
        display: block;
    }
    footer>div>div>div:first-child {
        margin-right: 0;
        margin-bottom: 24px;
    }
    .footerInfo {
        display: none;
    }
    .mobileFooter {
        display: block;
    }
    .introMain p {
        font-size: 48px;
        line-height: 58px;
        letter-spacing: 2px;
    }
    .introTxt {
        padding: 120px 4%;
    }
    .pcBox {
        display: none;
    }
    .introContents {
        width: 100%;
        display: block;
        padding: 0 4%;
        box-sizing: border-box;
    }
    .introContents>img {
        display: block;
        margin: auto;
    }
    .introContents>div {
        margin: 32px 0 120px;
    }
    .mySwiper3 .swiper-slide img {
        width: 120px;
        height: 120px;
    }
    .mobileBox {
        display: block;
    }

    .instaTitle{
        font-size: 24px;
        line-height: 36px;
    }
    .instaUrl{
        font-size: 14px;
        font-weight: 400;
    }
    .instaUrl img{
        margin-right: 8px;  
    }
    .title{
        font-size: 24px;
        line-height: 36px;
    }

    #map {
        height: 300px;
    }

    #hire-page .banner {
        height: 150px;
    }

    #hire-page h1 {
        font-size: 24px;
        line-height: 36px;
        margin-top: 36px;
    }
    
    #hire-page .list-container > div > div:first-child {
        cursor: pointer;
        padding: 16px 4%;
    }
    
    #hire-page .list-container > div.open > div:last-child {
        padding: 16px 4%;
    }

    #hire-page .list-container > div:not(:last-child)::after {
        margin: 0 4%;
    }

    #hire-page .list-container {
        width: 100%;
    }

    #hire-page .title-container {
        padding: 16px 4%;
    }

    #hire-page h2 {
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 24px;
    }
}